/*
@File: Client Website.

* This file contains the styling for the actual template, this
is the file you need to edit to change the look of the
template.

This files table contents are outlined below>>>>>

*******************************************
*******************************************
** - Default CSS
*/
/*================================================
Default CSS
=================================================*/
$font_family_1: 'Lato', sans-serif;
$font_family_2: 'Raleway', sans-serif;
$colour_1:#080a31;
$colour_2:#DB190A;
$colour_3:#ee0000;
$colour_4:#FAAC00;
$white_colour:#fff;

*{
    margin: 0;
    padding:0;
}

html {
    scroll-behavior: smooth;
  }
html,
body{
    width: 100%;
    height: 100%;
    font-family: $font_family_2;
}
img{
    max-width: 100%;
}
h1,h2,h3,h4,h5,h6{
    font-family: $font_family_1;
    color: $colour_1;
    font-weight: 700;
}
ul{
    margin: 0;
    padding: 0;

    li{
        list-style-type: none;
        display: inline-block;

        a{
            text-decoration: none;

            &:hover{
                text-decoration: none;
            }
        }
    }
}
.btn.focus,
.btn:focus {
outline:none;
-webkit-box-shadow:0 0 0 .2rem rgba(0, 123, 255, 0);
       box-shadow:0 0 0 .2rem rgba(0, 123, 255, 0);
}
button:focus {
outline:none;
}

.form-control:focus {
outline:0;
-webkit-box-shadow:none;
        box-shadow:none;
}
.section_padding{
    padding: 80px 0;
}
.section_padding_2{
    padding: 50px 0 80px;
}
.section_titel{
  margin-bottom: 60px;
  span{
    color: $colour_2;
    font-size: 14px;
    line-height: 1.7;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 10px;
    letter-spacing: 1px;
  }
  h2{
    font-size: 36px;
    line-height: 1.5;
    text-transform: capitalize;
    color:$colour_1;
    position: relative;
    &::after{
      background: $colour_2;
      content: "";
      height: 2px;
      left: 0;
      position: absolute;
      width: 60px;
      bottom: 0;
    }
    &::before{
      background: #e1e1e1e8;
      content: "";
      height: 1px;
      left: 0;
      position: absolute;
      width: 100%;
      bottom: 0;
    }
  }
}
p{
  font-size: 16px;
  color:#131212;
  font-weight: 400;
  line-height: 1.7;
}
// Header Area CSS
.header_area {
    position:relative;
    text-transform:uppercase;
    padding: 20px 0;
    width: 100%;
    background: transparent !important;
    z-index: 2;
    box-shadow: 0px -3px 16px #131212;
    .menu{
        position: relative;
        top: 0;
        text-align: center;
        ul{
            li{
                display: inline-block;
                padding: 16px 18px 0;
                position: relative;
                &:last-child{
                    padding-top: 0;
                    padding-right: 0;
                    float: right;
                }
                a{
                    font-weight: 600;
                    font-size: 16px;
                    line-height:1.4;
                    color: $colour_1;
                    display: block;
                    position: relative;
                    letter-spacing: 0.5;
                    text-transform: capitalize;
                    i{
                        font-weight: 600;
                        font-size: 18px; 
                    }
                    &:hover{
                        color: $colour_2;
                    }
                    &.active{
                      color: $colour_2;
                    }
                }     
            }
        }
    }
}
.menu-shrink {
    position: fixed !important;
    background: $white_colour !important;
    width: 100%;
    padding: 10px 0;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    z-index: 9999999;
    top: 0;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    // .menu{
    //   ul{
    //     li{
    //       a{
    //         color: $white_colour;
    //       }
    //     }
    //   }
    // }
    // .default_btn {
    //   &::after {
    //       border-bottom-color: $white_colour;
    //       border-right-color: $white_colour;
    //     }
    //     &::before {
    //       border-top-color:$white_colour;
    //       border-left-color: $white_colour;
    //     }
    // }
    }

// HEADER AREA CSS END

.default_btn {
    position: relative;
    padding: 1em 1.5em;
    border: none;
    text-transform: capitalize;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    color: $colour_1;
    font-weight: 600;
    &::after ,
    &::before{
        content: "";
        display: block;
        position: absolute;
        width: 20%;
        height: 20%;
        border: 2px solid;
        transition: all 0.6s ease;
        border-radius: 2px;
        -webkit-transition: all 0.6s ease;
        -moz-transition: all 0.6s ease;
}
    &::after {
        bottom: 0;
        right: 0;
        border-top-color: transparent;
        border-left-color: transparent;
        border-bottom-color: $colour_1;
        border-right-color: $colour_1;
      }
      &::before {
        top: 0;
        left: 0;
        border-bottom-color: transparent;
        border-right-color: transparent;
        border-top-color:$colour_1;
        border-left-color: $colour_1;
      }
      &:hover{
        color: $colour_2;
          &::after ,
          &::before{
            width: 100%;
            height: 100%;
          }
      }
  }
// Hero Slider Area Start
.hero_slider_area{
    position: relative;
.img-fill{
    img {
        height: 485px;
        width: 100%;

      }
  }
  .hero_slider {
      .slider_item{
        position: relative;
        &::after{
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            background: rgba(8, 1, 1, 0.342);
            top: 0;
            left: 0;
        }
        .img-fill{
            .slider_content{
                position:absolute;
                top:30%;
                left:5%;
                width: 60%;
                text-align: left;
                z-index: 1;
                span{
                    color: $colour_2;
                    font-size: 22px;
                    line-height: 1.5;
                    text-transform: capitalize;
                    font-weight: 600;
                    margin-bottom: 10px;
                }
                h1{
                    color: $white_colour;
                    font-size: 58px;
                    line-height: 1.5;
                    text-transform: capitalize;
                    font-weight: 700;
                }
            
              }
        }
        &.slick-active{
          animation:Slick-FastSwipeIn 1s both;
          -webkit-animation:Slick-FastSwipeIn 1s both;
}
      }
      .fadeInUpSD {
        -webkit-animation-name: fadeInUpSD;
        animation-name: fadeInUpSD;
      }
      
      .slick-active .slider_content {
        animation-name: fadeInUpSD;
        animation-duration: 1s;
        opacity: 1;
        // width: 100%;
      }
  }
  .hero_slider .NextArrow{
    position:absolute;
    top:50%;
    right:0px;
    width:45px;
    height:45px;
    background:rgba(0,0,0,.50);
    border:0 none;
    margin-top:-22.5px;
    text-align:center;
    font:20px/45px FontAwesome;
    color:#FFF;
    z-index:5;
    &:before{
        content:'\f101';
    }
  }
  
  .hero_slider .PrevArrow{
    position:absolute;
    top:50%;
    left:0px;
    width:45px;
    height:45px;
    background:rgba(0,0,0,.50);
    border:0 none;
    margin-top:-22.5px;
    text-align:center;
    font:20px FontAwesome;
    color:#FFF;
    z-index:5;
    &:before{
        content:'\f100';
    }
  }
  
  .hero_slider .slick-dots{
    position:absolute;
    height:5px;
    background:rgba(255,255,255,.20);
    bottom:0px;
    width:100%;
    left:0px;
    padding:0px;
    margin:0px;
    list-style-type:none;
  }
  .hero_slider .slick-dots li button{display:none;}
  .hero_slider .slick-dots li{
    float:left;
    width:0px;
    height:5px;
    background:$colour_1;
    position:absolute;
    left:0px;
    bottom:0px;
  }
  
  .hero_slider .slick-dots li.slick-active{
    width:100%;
    animation:ProgressDots 6s both;
    -webkit-animation:ProgressDots 6s both;
}
  
}
  /* ==== Slider Image Transition === */
  @keyframes Slick-FastSwipeIn{
    0%{
        transform:scale(0) perspective(400px);
        -webkit-transform:scale(0) perspective(400px);
        -moz-transform:scale(0) perspective(400px);
        -ms-transform:scale(0) perspective(400px);
        -o-transform:scale(0) perspective(400px);
} 
    100%{
         transform:scale(1) perspective(400px);
         -webkit-transform:scale(1) perspective(400px);
         -moz-transform:scale(1) perspective(400px);
         -ms-transform:scale(1) perspective(400px);
         -o-transform:scale(1) perspective(400px);
} 
}
@-webkit-keyframes Slick-FastSwipeIn{
  0%{
      transform:scale(0) perspective(400px);
      -webkit-transform:scale(0) perspective(400px);
      -moz-transform:scale(0) perspective(400px);
      -ms-transform:scale(0) perspective(400px);
      -o-transform:scale(0) perspective(400px);
} 
  100%{
       transform:scale(1) perspective(400px);
       -webkit-transform:scale(1) perspective(400px);
       -moz-transform:scale(1) perspective(400px);
       -ms-transform:scale(1) perspective(400px);
       -o-transform:scale(1) perspective(400px);
} 
}

@-webkit-keyframes ProgressDots{from{width:0px;}to{width:100%;}}
@keyframes ProgressDots{from{width:0px;}to{width:100%;}}

@-webkit-keyframes fadeInUpSD {
  0% {
    opacity: 0;
    transform: translateY(20%);
    -webkit-transform: translateY(20%);
    -moz-transform: translateY(20%);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUpSD {
  0% {
      opacity: 0;
      transform: translateY(20%);
      -webkit-transform: translateY(20%);
      -moz-transform: translateY(20%);
    }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

// About Area CSS Start
.about_area{
  .learn_more_btn{
    margin-top: 40px;
    .default_btn{
      padding: 16px 40px;
    }
  }
}

// About Area CSS End
// Choose Area CSS Start
.choose_area{
  .choose_matrs_box{
    ul{
      li{
        display: flex;
        align-items: center;
        font-weight: 600;
        margin-bottom: 10px;
        i{
          font-weight: 700;
          color: $colour_2;
          font-size: 18px;
          line-height: 1.7;
          opacity: .8;
          padding-right: 10px;
        }
      }
    }
  }
}
// Choose Area CSS End

// Product Area CSS Start
.product_area{
  .section_titel{
    h2{
      &::after{
        left: 40%;
      }
      &::before{
        left: 0;
        right: 0;
        width: 20%;
        margin: 0 auto;
      }
    }
  }
  .product_box{
    text-align: center;
    margin-bottom: 40px;
     .product_img{
      margin-bottom: 10px;
      overflow: hidden;
      position: relative;
      img{
        height: 247px;
        width: 100%;
      }
      .add_to_cart{
        position: absolute;
        left: 0;
        bottom: -10px;
        visibility:hidden;
        transition: all ease-in-out .3s;
        width: 100%;
        text-transform: capitalize;
        background: #252525;
        color: $white_colour;
        font-size: 16px;
        line-height: 1.5;
        -webkit-transition: all ease-in-out .3s;
        -moz-transition: all ease-in-out .3s;
        opacity: 0;
        .cart_btn{
          text-transform: capitalize;
          color: $white_colour;
          font-size: 16px;
          line-height: 1.5;
        }
      }
    }
    .product_detail{
      a{
        text-decoration: none;
        .pro_titel{
          font-weight: 700;
          font-size: 18px;
          text-transform: capitalize;
          line-height: 1.7;
          color: $colour_1;
          margin-bottom: 7px;
        }
      }
      .price{
        font-weight: 700;
        font-size: 16px;
        text-transform: capitalize;
        line-height: 1.7;
        color:$colour_2;
      }
    }

    &:hover{
      .product_img{
        .add_to_cart{
          visibility: visible;
          bottom: 0px;
          opacity: 1;
          &:hover{
            background: $colour_2;
          }
        }

      }


  }
  }
}
// Product Area CSS End
// Mattress Inside CSS Start
.mattress_inside_area{
  padding: 40px 0;
}
// Mattress Inside CSS End
// Our Factory Area CSS START
.our_factory_area{
  .factory_item{
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;
    .overlay{
        position: absolute;
        opacity: 0.7;
        text-align: center;
        padding-top: 60px;
        background-color:$colour_2;

        .hover_btn{
            position: absolute;
            top: 40%;
            left:0%;
            right: 0%;
            .btn{
                font-size: 16px;
                font-weight: 600;
                line-height: 20px;
                padding: 10px 40px;
                background: transparent;
                border: 1px solid #fff;
                color: #fff;
                text-transform: capitalize;
                &.active,&:hover{
                    background:rgba(8, 10, 49, 0.9);
                    color: #fff;
                    border: 1px solid rgba(8, 10, 49, 0.9);
                }
            }
        }
      }
}
}
// Our Factory Area CSS End
// Valuable Client Area CSS Start
.valuable_client_area{
  position: relative;
  background: #f2f2f2cc;
.testim .wrap {
    position: relative;
    width: 70%;
    padding: 40px 20px;
    margin: auto;
}

.testim .arrow {
    display: block;
    position: absolute;
    color: $colour_1;
    cursor: pointer;
    font-size: 1em;
    top: 50%;
    -webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
    -webkit-transition: all .3s ease-in-out;    
    -ms-transition: all .3s ease-in-out;    
    -moz-transition: all .3s ease-in-out;    
    -o-transition: all .3s ease-in-out;    
    transition: all .3s ease-in-out;
    padding: 5px;
    z-index: 22222222;
}

.testim .arrow:before {
		cursor: pointer;
}

.testim .arrow:hover {
    color: $colour_2;
}
    

.testim .arrow.left {
    left: 10px;
}

.testim .arrow.right {
    right: 10px;
}

.testim .dots {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 60px;
    left: 0;
    display: block;
    z-index: 3333;
		height: 12px;
}

.testim .dots .dot {
    list-style-type: none;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #838080;
    margin: 0 10px;
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;    
    -ms-transition: all .5s ease-in-out;    
    -moz-transition: all .5s ease-in-out;    
    -o-transition: all .5s ease-in-out;    
    transition: all .5s ease-in-out;
		position: relative;
}

.testim .dots .dot.active,
.testim .dots .dot:hover {
    background: $colour_2;
    border-color: $colour_2;
}

.testim .dots .dot.active {
    -webkit-animation: testim-scale .5s ease-in-out forwards;   
    -moz-animation: testim-scale .5s ease-in-out forwards;   
    -ms-animation: testim-scale .5s ease-in-out forwards;   
    -o-animation: testim-scale .5s ease-in-out forwards;   
    animation: testim-scale .5s ease-in-out forwards;   
}
    
.testim .cont {
    position: relative;
		overflow: hidden;
}

.testim .cont > div {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 0 70px 0;
    opacity: 0;
}

.testim .cont > div.inactive {
    opacity: 1;
}
    

.testim .cont > div.active {
    position: relative;
    opacity: 1;
}
    

.testim .cont div .img img {
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
}

.testim .cont div h2 {
    color: $colour_2;
    font-size: 1em;
    margin: 15px 0;
}

.testim .cont div p {
    font-size: 16px;
    color: $colour_1;
    width: 80%;
    margin: auto;
    font-weight: 600;
}

.testim .cont div.active .img img {
    -webkit-animation: testim-show .5s ease-in-out forwards;            
    -moz-animation: testim-show .5s ease-in-out forwards;            
    -ms-animation: testim-show .5s ease-in-out forwards;            
    -o-animation: testim-show .5s ease-in-out forwards;            
    animation: testim-show .5s ease-in-out forwards;            
}

.testim .cont div.active h2 {
    -webkit-animation: testim-content-in .4s ease-in-out forwards;    
    -moz-animation: testim-content-in .4s ease-in-out forwards;    
    -ms-animation: testim-content-in .4s ease-in-out forwards;    
    -o-animation: testim-content-in .4s ease-in-out forwards;    
    animation: testim-content-in .4s ease-in-out forwards;    
}

.testim .cont div.active p {
    -webkit-animation: testim-content-in .5s ease-in-out forwards;    
    -moz-animation: testim-content-in .5s ease-in-out forwards;    
    -ms-animation: testim-content-in .5s ease-in-out forwards;    
    -o-animation: testim-content-in .5s ease-in-out forwards;    
    animation: testim-content-in .5s ease-in-out forwards;    
}

.testim .cont div.inactive .img img {
    -webkit-animation: testim-hide .5s ease-in-out forwards;            
    -moz-animation: testim-hide .5s ease-in-out forwards;            
    -ms-animation: testim-hide .5s ease-in-out forwards;            
    -o-animation: testim-hide .5s ease-in-out forwards;            
    animation: testim-hide .5s ease-in-out forwards;            
}

.testim .cont div.inactive h2 {
    -webkit-animation: testim-content-out .4s ease-in-out forwards;        
    -moz-animation: testim-content-out .4s ease-in-out forwards;        
    -ms-animation: testim-content-out .4s ease-in-out forwards;        
    -o-animation: testim-content-out .4s ease-in-out forwards;        
    animation: testim-content-out .4s ease-in-out forwards;        
}

.testim .cont div.inactive p {
    -webkit-animation: testim-content-out .5s ease-in-out forwards;    
    -moz-animation: testim-content-out .5s ease-in-out forwards;    
    -ms-animation: testim-content-out .5s ease-in-out forwards;    
    -o-animation: testim-content-out .5s ease-in-out forwards;    
    animation: testim-content-out .5s ease-in-out forwards;    
}

@-webkit-keyframes testim-scale {
    0% {
        -webkit-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -webkit-box-shadow: 0px 0px 10px 5px #eee;        
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
        -webkit-box-shadow: 0px 0px 10px 5px #ea830e;        
        box-shadow: 0px 0px 10px 5px #ea830e;        
    }

    100% {
        -webkit-box-shadow: 0px 0px 0px 0px #ea830e;        
        box-shadow: 0px 0px 0px 0px #ea830e;        
    }
}

@-moz-keyframes testim-scale {
    0% {
        -moz-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -moz-box-shadow: 0px 0px 10px 5px #eee;        
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
        -moz-box-shadow: 0px 0px 10px 5px #ea830e;        
        box-shadow: 0px 0px 10px 5px #ea830e;        
    }

    100% {
        -moz-box-shadow: 0px 0px 0px 0px #ea830e;        
        box-shadow: 0px 0px 0px 0px #ea830e;        
    }
}

@-ms-keyframes testim-scale {
    0% {
        -ms-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -ms-box-shadow: 0px 0px 10px 5px #eee;        
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
        -ms-box-shadow: 0px 0px 10px 5px #ea830e;        
        box-shadow: 0px 0px 10px 5px #ea830e;        
    }

    100% {
        -ms-box-shadow: 0px 0px 0px 0px #ea830e;        
        box-shadow: 0px 0px 0px 0px #ea830e;        
    }
}

@-o-keyframes testim-scale {
    0% {
        -o-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -o-box-shadow: 0px 0px 10px 5px #eee;        
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
        -o-box-shadow: 0px 0px 10px 5px #ea830e;        
        box-shadow: 0px 0px 10px 5px #ea830e;        
    }

    100% {
        -o-box-shadow: 0px 0px 0px 0px #ea830e;        
        box-shadow: 0px 0px 0px 0px #ea830e;        
    }
}

@keyframes testim-scale {
    0% {
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
        box-shadow: 0px 0px 10px 5px #ea830e;        
    }

    100% {
        box-shadow: 0px 0px 0px 0px #ea830e;        
    }
}

@-webkit-keyframes testim-content-in {
    from {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
        -webkit-transform: translateY(0);        
        transform: translateY(0);        
    }
}

@-moz-keyframes testim-content-in {
    from {
        opacity: 0;
        -moz-transform: translateY(100%);
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
        -moz-transform: translateY(0);        
        transform: translateY(0);        
    }
}

@-ms-keyframes testim-content-in {
    from {
        opacity: 0;
        -ms-transform: translateY(100%);
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
        -ms-transform: translateY(0);        
        transform: translateY(0);        
    }
}

@-o-keyframes testim-content-in {
    from {
        opacity: 0;
        -o-transform: translateY(100%);
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
        -o-transform: translateY(0);        
        transform: translateY(0);        
    }
}

@keyframes testim-content-in {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
        transform: translateY(0);        
    }
}

@-webkit-keyframes testim-content-out {
    from {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
        -webkit-transform: translateY(-100%);        
        transform: translateY(-100%);        
    }
}

@-moz-keyframes testim-content-out {
    from {
        opacity: 1;
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
        -moz-transform: translateY(-100%);        
        transform: translateY(-100%);        
    }
}

@-ms-keyframes testim-content-out {
    from {
        opacity: 1;
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
        -ms-transform: translateY(-100%);        
        transform: translateY(-100%);        
    }
}

@-o-keyframes testim-content-out {
    from {
        opacity: 1;
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
        transform: translateY(-100%);        
        transform: translateY(-100%);        
    }
}

@keyframes testim-content-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
        transform: translateY(-100%);        
    }
}

@-webkit-keyframes testim-show {
    from {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        -webkit-transform: scale(1);       
        transform: scale(1);       
    }
}

@-moz-keyframes testim-show {
    from {
        opacity: 0;
        -moz-transform: scale(0);
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        -moz-transform: scale(1);       
        transform: scale(1);       
    }
}

@-ms-keyframes testim-show {
    from {
        opacity: 0;
        -ms-transform: scale(0);
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        -ms-transform: scale(1);       
        transform: scale(1);       
    }
}

@-o-keyframes testim-show {
    from {
        opacity: 0;
        -o-transform: scale(0);
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        -o-transform: scale(1);       
        transform: scale(1);       
    }
}

@keyframes testim-show {
    from {
        opacity: 0;
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        transform: scale(1);       
    }
}

@-webkit-keyframes testim-hide {
    from {
        opacity: 1;
        -webkit-transform: scale(1);       
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@-moz-keyframes testim-hide {
    from {
        opacity: 1;
        -moz-transform: scale(1);       
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
        -moz-transform: scale(0);
        transform: scale(0);
    }
}

@-ms-keyframes testim-hide {
    from {
        opacity: 1;
        -ms-transform: scale(1);       
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
        -ms-transform: scale(0);
        transform: scale(0);
    }
}

@-o-keyframes testim-hide {
    from {
        opacity: 1;
        -o-transform: scale(1);       
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
        -o-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes testim-hide {
    from {
        opacity: 1;
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
        transform: scale(0);
    }
}

}
// Valuable Client Area CSS End
// Footer Area CSS START
.footer_area{
  background: #252525;
  .footer_box{
    .footer_logo{
      margin-bottom: 30px;
    }
    .text{
      p{
        font-size: 16px;
        line-height: 1.5;
        font-weight: 500;
        color: $white_colour;
      }
    }
    .social_link{
      ul{
        li{
          a{
            font-size: 15px;
            color: #d9dae0;
            display: inline-block;
            height: 45px;
            width: 45px;
            line-height: 45px;
            text-align: center;
            background: #2b2b2b;
            margin-right: 5px;
            -webkit-transition: all 0.3s ease-out 0s;
            -moz-transition: all 0.3s ease-out 0s;
            -ms-transition: all 0.3s ease-out 0s;
            -o-transition: all 0.3s ease-out 0s;
            transition: all 0.3s ease-out 0s;
            &:last-child{
              margin-right: 0;
            }
            &:hover{
              background:$colour_2;
              color: $white_colour;
            }
          
            i{
              color: $white_colour;
            }
          }
        }
      }
    }
    .footer_titel{
      margin-bottom: 30px;
      h4{
        color: $white_colour;
      }
    }
    .footer_list{
      ul{
        li{
          display: block;
          margin-bottom: 12px;
          a{
            text-decoration: none;
            color: $white_colour;
            font-size: 16px;
            line-height: 1.6;
            text-transform: capitalize;
            &:hover{
              color: #e43d31;
            }
          }

        }
        .add_in{
          display: flex;
          align-items: center;
          .icon{
            height: 35px;
            width: 35px;
            line-height: 35px;
            background: #424242;
            text-align: center;
            margin-top: 5px;
            margin-right: 15px;
            i{
              color: #d9dae0;
              font-size: 16px;

            }
          }
          .adress_info{
            text-align: left;
            span{
              text-align: left;
            }
          }
        }
      }
    }
  }
}
// Footer Area CSS End


// COPYRIGHT AREA CSS START
.copyright_area{
  border-top: 1px solid #838080;
  background: #252525;
  padding: 10px 0;
  .copy_right{
      h4{
          font-size: 16px;
          font-weight: 500;
          color: #fff;
          line-height:1.4;
          text-align: center;
          margin-bottom: 0;
          a{
              color: $colour_2;
          }
      }
  }
}
// COPYRIGHT AREA CSS END
// Footer Area CSS Start

// TO TOP BUTTON CSS START
  .to-top{
      i{
          font-size: 30px;
          color:$colour_1;
      }
  
  }
// TO TOP BUTTON CSS END

// Inner Banner CSS START
.inner_banner{
  background-size: cover;
  background-position:left bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  height: 300px;
  width: 100%;
  .banner_content{
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
    h1{
      text-transform: capitalize;
      font-size: 36px;
      line-height: 1.7;
    }
  }
}
// Inner Banner CSS End
// Contact Area CSS Start
.contact_area{
  .contact_ctn{
    .con_ctn{
      margin-bottom: 40px;
      h4{
        font-size: 22px;
        line-height: 1.7;
      }
      p{
        font-weight: 600;
        width: 70%;
        margin: 0 auto;
        color: #2b2b2b;
      }
    }
    .con_form{
      form{
        .form-group{
          margin-bottom: 15px;
          input{
            height: 48px;
            border: 1px solid #838080;
            &::placeholder{
              font-size: 14px;
              color:#2b2b2b;
              font-weight: 400;
            }
            &:focus{
              border: 1px solid $colour_1;
            }
          }
          textarea{
            border: 1px solid #838080;
            &::placeholder{
              font-size: 14px;
              color:#2b2b2b;
              font-weight: 400;
            }
            &:focus{
              border: 1px solid $colour_1;
            }
          }
        }
      }
      .con_btn{
        margin-top: 40px;
      }
    }
  }
}
// Contact Area CSS End
// More Info Source Area CSS Start
.more_info_source_area{
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  .more_info_box{
    .more_info_titel{
      margin-bottom: 60px;
      span{
        font-size: 16px;
        line-height: 1.7;
        color:#2b2b2b;
        font-weight: 400;
      }
      h2{
        width: 80%;
        font-size: 34px;
        line-height: 1.5;
        color:$colour_1;
        font-weight: 700;
        margin: 0 auto;
      }
    }
  }
  .info_box{
    position: relative;
    padding: 40px 20px;
    box-shadow: 0 10px 35px rgba(38,42,76,.1);
    background: #ffffff;
    .box_icon{
      margin-bottom: 15px;
      span{
        i{
          font-size: 26px;
          color: $colour_1;
        }
      }
    }
    .box_titel{
      margin-bottom: 15px;
      h5{
        font-size: 18px;
        line-height: 1.5;
        color:$colour_1;
        font-weight: 700;
      }
    }
    .box_text{
      margin-bottom: 15px;
      p{
        font-size: 14px;
        line-height: 1.5;
        color:#2b2b2b;
      }
    }
    .read_mo{
      .btn{
        text-transform: capitalize;
        color: $colour_1;
        font-size: 14px;
        font-weight: 600;
        &:hover{
          color: $colour_2;
        }
      }
    }
    &::after{
      content: '';
      position: absolute;
      width: 0%;
      height: 4px;
      left: 0;
      bottom: 0;
      background: $colour_1;
      transition:all 0.6s ease;
      -webkit-transition:all 0.6s ease;
      -moz-transition:all 0.6s ease;
    }
    &:hover{
      &::after{
        width:100%;
      }
    }
  }
}
// More Info Source Area CSS End 
// Our Story Area Start
.our_story_area{
  .section_titel{
    h2{
      &::after{
        left: 40%;
      }
      &::before{
        left: 0;
        right: 0;
        width: 20%;
        margin: 0 auto;
      }
    }
  }
  .stp_2,
  .stp_4,
  .stp_6,
  .stp_8,
  .stp_9{
    text-align: right;
    position: relative;
    margin-top: 40px;
    padding-right: 60px;
    &::after{
      width: 10px;
      height: 10px;
      content: '';
      position: absolute;
      background: $colour_2;
      top: 10%;
      right: 0%;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
    }
    &::before{
      height: 1%;
      width: 10%;
      content: '';
      position: absolute;
      border: 1px dashed $colour_2;
      top: 20%;
      right: 0%;
    }
  }
  .stp_2{
    margin-top: 50px;
  }
  .stp_1 ,
  .stp_3 ,
  .stp_5 ,
  .stp_7 ,
  .stp_10{
    position: relative;
    margin-top: 30px;
    padding-left: 60px;
    &::before{
      width: 10px;
      height: 10px;
      content: '';
      position: absolute;
      background: $colour_2;
      top: 10%;
      left: -3%;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
    }
    &::after{
      height: 1%;
      width: 12%;
      content: '';
      position: absolute;
      border: 1px dashed $colour_2;
      top: 20%;
      left: -2%;
    }
  }
.stp_10{
  margin-top: 60px;
}
  .journey_start{
    height: 80px;
    width: 80px;
    background: $colour_2;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    color: $white_colour;
    text-align: center;
    margin: 0 auto;
    h3{
      color: $white_colour;
      line-height: 3.3;
      text-transform: capitalize;
      font-size: 22px;
      font-weight: 600;
    }
}
.journey_last{
  height: 160px;
  width: 160px;
  background: $colour_2;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  color: $white_colour;
  text-align: center;
  margin: 0 auto;
  padding: 40px 14px;;
  h3{
    color: $white_colour;
    line-height: 1.7;
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 600;
  }
}
.journey_box{
  h3{
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: 7px;
  }
  span{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #252525;
  }
}
.journey_right_box{
  position: relative;
  &::before{
    height: 120%;
    width: 2px;
    content: '';
    position: absolute;
    border: 1px dashed $colour_2;
    top: 0;
    left: -2.5%;
    margin-top: -40px;
  }
}
}
// Our Story Area End